[Unit]
Description=Polkadot Boot

[Service]
ExecStart=polkadot --name polkadotbootnode  --pruning=archive \
--chain=rococo --base-path=/tmp  \
--listen-addr=/ip4/0.0.0.0/tcp/30334 --public-addr=/ip4/0.0.0.0/tcp/30334 \
-- --execution=wasm --rpc-methods=unsafe  \
--listen-addr=/ip4/0.0.0.0/tcp/30333 --public-addr=/ip4/0.0.0.0/tcp/30333
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target