[Unit]
Description=Polkadot rpc

[Service]
ExecStart=polkadot --name polkadotrpcnode  --pruning=archive   --ws-port 9944 --unsafe-ws-external  --rpc-cors=all  --chain=rococo --base-path=/tmp  --listen-addr=/ip4/0.0.0.0/tcp/30334 --public-addr=/ip4/0.0.0.0/tcp/30334 -- --execution=wasm --rpc-methods=unsafe  -- --execution=wasm  --listen-addr=/ip4/0.0.0.0/tcp/30333 --public-addr=/ip4/0.0.0.0/tcp/30333 --rpc-methods=unsafe --rpc-port=9056 --enable-log-reloading
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target